<aside>
	<nav>
		<ul>
			<li>
				<a href="#">Navi 1</a>
			</li>
			<li>
				<a href="#">Navi 2</a>
			</li>
			<li>
				<a href="#">Navi 3</a>
			</li>
			<li>
				<a href="#">Navi 4</a>
			</li>
		</ul>
	</nav>
</aside>
