<section id="main">
	<article class="galleryItem">
		<a href="#">
			<figure> 
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
					
				<figcaption>
			</figure>
		</a>
	</article>

	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
					
				<figcaption>
			</figure>
		</a>
	</article>

	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>
	<article class="galleryItem">
		<a href="#">
			<figure> 
			<div class="container">
				<img src="http://placehold.it/600x400">
				<figcaption class="container">
					<div class="outer">
						<div class="inner">
							<h3>Produkt Name</h3>
							<p>Legende zum Produkt</p>	
						</div>
					</div>
				<figcaption>
			</div>
			</figure>
		</a>
	</article>


</section>
