{# index.twig #}
{% extends "layouts/layout.twig" %}

{% block page %}

    {% include 'includes/header.twig' %}
    <div id="main">
        <p>Version 0.0.3</p>
    </div>
    {% include 'includes/footer.twig' %}
{% endblock %}